<div class="chat-container">
  <div class="chat-header">
    <div class="user-details">
      <div class="avatar">
        <img
          [src]="
            sanitizer.bypassSecurityTrustResourceUrl(
              currentChatUser.profileImage
            )
          "
          alt="profileAvatar"
        />
      </div>
      <div class="username">
        <h3 class="m-0">{{ currentChatUser.username }}</h3>
        <span
          class="online-indicator"
          [ngClass]="{
            online: currentChatUser?.isOnline === true,
            offline: currentChatUser?.isOnline === false
          }"
        ></span>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <span id="video-chat-lobby" class="btn text-white" (click)="startVideoCall(currentChatUser, loginUser)">
        <i class="bi bi-camera-video"></i>
      </span>
    </div>
  </div>
  <div class="chat-messages">
    <!-- loop -->
    <ng-container *ngIf="messages.length != 0">
      <ng-container *ngFor="let message of messages">
        <div>
          <div
            class="message"
            [ngClass]="{
              sended: message?.fromUser == loginUser?._id,
              recieved: message?.fromUser !== loginUser?._id
            }"
          >
            <div class="content">
              <p class="m-0">{{ message?.message }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <!-- input -->
  <div class="message-input-container">
    <div class="button-container"></div>
    <form class="input-container">
      <input
        autofocus
        id="focus"
        type="text"
        [(ngModel)]="newMessage"
        name="newMessage"
        placeholder="type your message here"
      />
      <button (click)="sendMessage()" type="submit">send</button>
    </form>
  </div>
</div>
