<div class="login-form-container">
  <form class="login-form" [formGroup]="loginForm">
    <div class="brand">
      <img src="assets/chat_icon.svg" alt="logo" />
    </div>
    <input formControlName="email" type="text" placeholder="Email" name="email" />
    <input formControlName="password" type="text" placeholder="Password" name="password" />
    <button (click)="onSubmit()" type="submit">Log in</button>
    <span>
      Don't have an accoount ?
      <a [routerLink]="['..', 'register']">Create one</a>
    </span>
  </form>
</div>
